body {
    background-color: #F9E4D4;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    text-align: center;
}

h1 {
    color:#9C0F48;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    color:#9C0F48;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

p{
    color:#9C0F48;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #D67D3E;
}

#save-btn {
    background: #470D21;
}

